.calculator{
    width: 35vw;
    height:70vh;
    border:1px solid rgb(226, 222, 222);
    margin:auto;
    top:10px;
    position: relative;
    display: grid;
    padding:20px;
    gap: 5px;
    
}
.form-group{
    display: flex;
    justify-content: space-between;
    gap:5px;
}
.input-type{
    font-size: 25px;
    border: 1px solid rgb(204, 195, 195);
    border-radius: 5px;
    text-align: right;

}
.button1{
    width: 100px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.button1:hover{
    background-color: rgb(194, 184, 184);
}
.evaluate{
    background-color: rgb(1, 21, 175);
    width: 100px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
.evaluate:hover{
    background-color: rgb(13, 96, 147);
}
.background{
    background-color: rgb(234, 223, 13);
}

.adjust{
    text-align: right;
}

.heading{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bolder;
    font-style: unset;
}
